{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container my-5 col-10">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">{{ 'home.hello'|trans({}, 'app') }} {{ name }},</h1>
                <p class="lead">{{ 'home.lead'|trans({}, 'app') }}</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg text-center mx-2">
                <img class="rounded-lg-3 img-fluid" src="uploads/profile_picture.png" alt="" style="max-width: 100%">
            </div>
        </div>
    </div>
{% endblock %}
