{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container my-5 col-10">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-5 fw-bold lh-1">{{ 'home.hello'|trans({}, 'app') }} {{ name }},</h1>
                <p class="lead">{{ 'home.lead'|trans({}, 'app') }}</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center mx-2">
                <img class="rounded-lg-3 img-fluid" src="uploads/profile_picture.png" alt="" style="max-width: 100%">
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row g-4">
            <!-- Pros Section -->
            <div class="col-md-6">
                <div class="p-4 bg-success text-white rounded shadow">
                    <h4 class="text-center">✅ Pros</h4>
                    <ul class="list-unstyled mt-3">
                        <li class="mb-2"><strong>✔ I know how to exit Vim.</strong></li>
                        <li class="mb-2"><strong>✔ I can dockerize your grandma.</strong></li>
                        <li class="mb-2"><strong>✔ I use grep like it’s a sixth sense.</strong></li>
                        <li class="mb-2"><strong>✔ I once fixed a bug by deleting code and it actually worked.</strong></li>
                        <li class="mb-2"><strong>✔ I use htop just to feel something.</strong></li>
                    </ul>
                </div>
            </div>

            <!-- Cons Section -->
            <div class="col-md-6">
                <div class="p-4 bg-danger text-white rounded shadow">
                    <h4 class="text-center">❌ Cons</h4>
                    <ul class="list-unstyled mt-3">
                        <li class="mb-2"><strong>✖ I have a hard time centering a stupid div</strong></li>
                        <li class="mb-2"><strong>✖ I spent 3 hours styling a button and now it looks worse.</strong></li>
                        <li class="mb-2"><strong>✖ I treat CSS like it’s a cryptic spellbook.</strong></li>
                        <li class="mb-2"><strong>✖ I fear z-index more than I fear merge conflicts.</strong></li>
                        <li class="mb-2"><strong>✖ I once used !important 12 times in one file.</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
