<ul class="container nav py-lg-2">

    <li class="nav-item">
        <a class="nav-link text-primary" href="/">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-primary" href="/doc">API Docs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-primary" href="/blog">Blog</a>
    </li>

    <li class="nav-item ms-auto">
        <a class="nav-link text-primary" href="/404">Login</a>
    </li>

</ul>