<ul class="container nav py-lg-2">

    <li class="nav-item">
        <a class="nav-link text-primary" href="{{ path('portal_index') }}">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-primary" href="{{ path('portal_doc_index') }}">API Docs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-primary" href="{{ path('portal_blog_index') }}">Blog</a>
    </li>

    <li class="nav-item ms-auto">
        <a class="nav-link text-primary" href="/404">Login</a>
    </li>

</ul>