{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center my-auto p-5">
        <h1 class="display-1">404</h1>
        <h1>{{ 'not_found.title'|trans({}, 'app') }}</h1>
    </div>
{% endblock %}